.carousel img {
    width: 100%;
    height: 85vh;
    object-fit: cover;
    display: none;
}
.carousel{
    padding: 0;
    margin: 0;
    width: 100%;
}
.carousel img.active{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}
.nextButton, .prevButton{
    border: none;
    width: 40px;
    height: 40px;
    text-align: center;
    position: absolute;
    top: 50%;
    background-color: hsla(0, 0%, 0%, 0.2);
}
body.dark-mode .nextButton svg, body.dark-mode .prevButton svg{
    background-color: hsla(0, 0%, 0%, 0.2);
    fill: white;
}
.nextButton svg, .prevButton svg{
    fill: white;
    background-color: hsla(0, 0%, 0%, 0.2);
    width: 24px;
    height: 24px;
    max-width: 100%;
    max-height: 100%;
}
.nextButton{
    right: 2%;
}
.prevButton{
    left: 2%;
}
.carousel .aciklama{
    position: absolute;
    top: 75%;
    width: 100%;
    text-align: center;
}
@keyframes fade {
    from {opacity: 0.5}
    to {opacity: 1}
}
.aciklama h1, .aciklama p{
    color: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    min-height: 200vh;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition: 0.6s;
    padding: 1.5% 8%;
    z-index: 10000;
    background-color: rgb(41, 95, 152, 0.9);
}
body.dark-mode header{
    background-color: rgb(33, 25, 81, 0.9);
}
header.sticky{
    padding: 0.5% 4%;
    background-color: #fff;
}
body.dark-mode header.sticky{
    background: #4e4e4e;
}

header .logo{
    position: relative;
    font-weight: 700;
    color: #EEEEEE;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    top: 10px;
}
header ul li{
    position: relative;
    list-style: none;
}

header ul li a, header svg{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #EEEEEE;
    fill: #EEEEEE;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}
header a:hover, header svg:hover{
    color: black;
    fill: black;
}
header.sticky .nav svg, header.sticky .logo,header.sticky .nav li a{
    color: black;
    fill: black;
}
body.dark-mode header.sticky .nav svg,body.dark-mode header.sticky .logo,body.dark-mode header.sticky .nav li a{
    color: #fff;
    fill: #fff;
}
body.dark-mode{
    background-color: #292929;
    color: gray;
}

@media only screen and (max-width: 840px) {
    body{
        max-width: 100vw;
        overflow-x: hidden;
    }
    .carousel img{
        height: 60vh;
    }
    .hideOnMobile{
        display: none;
    }
    #content{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
    #content .icerik-basliklari{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    #theme-btn{
        position: fixed;
        right: 2%;
        bottom: 12%;
        border-radius: 50%;
        border: 2px solid #295F98;
        width: 45px;
        height: 45px;
        background-color: #295F98;
        cursor: pointer;
        z-index: 20000;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        transition: opacity 0.2s ease;
    }
    #theme-btn.hide{
        opacity: 0.3;
    }
    body.dark-mode #theme-btn{
        background-color: #1F316F;
        border-color: #295F98;
    }
    #theme-btn svg{
        fill: white;
    }
    #theme-btn svg{
        margin: 0;
        padding: 0;
    }
}
#theme-btn{
    transition: opacity 0.2s ease;
    opacity: 1;
}
#theme-btn.hide{
    opacity: 0.3;
}

.sidebar{
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    z-index: 10000;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    transition: 0.6s;
}
.sidebar li{
    width: 100%;
    text-align: center;
}
.sidebar a{
    width: 100%;
}
body.dark-mode .sidebar a, body.dark-mode .sidebar a svg{
    color: #fff;
    fill: #fff;
}
body.dark-mode .sidebar a:hover, body.dark-mode .sidebar a svg:hover{
    color: gray;
    fill: gray;
}
.icerik-basliklari{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
#icerik{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#icerik p{
    font-family: 'Arial', sans-serif;
    font-size: 22px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    unicode-bidi: isolate;
}
body.dark-mode #icerik p {
    color: #fff;
}
#content{
    margin-top: 25px;
}
.icerik-basliklari button{
    color: gray;
    background-color: transparent;
    border: none;
    font-size: large;
    transition: 0.6s;
    font-weight: bold;
    cursor: pointer;
}
.icerik-basliklari button:hover{
    color: darkslategrey;
}
.icerik-basliklari button.active{
    color: darkslategrey;
    transform: scale(1.15);
    transition: 0.5s;
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%;
    padding: 10px;
    gap: 20px;
    background-color: #F6F6F6;
}
body.dark-mode .footer-container{
    background-color: #4e4e4e;
}
.footer-container h2, .footer-container p{
    text-align: center;
}
.footer-container .footer-btn{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.footer-container .footer-btn a{
    text-align: center;
    padding: 0;
    width: 125px;
    height: 36px;
    color: grey;
    text-decoration: none;
    font-size: x-large;
    margin: 25px;
}
body.dark-mode .footer-container .footer-btn a{
    color: #fff;
}
.footer-container .footer-btn a:hover{
    color: darkslategrey;
}
.social ul li{
    list-style: none;
}
.social ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 0;
    padding: 0;
}
body.dark-mode .footer-container .metin{
    color: #fff;
}
.footer-container .social ul li svg{
    width: 25px;
    height: 25px;
}
.footer-container .social ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.up-button{
    position: fixed;
    right: 2%;
    bottom: 3%;
    border-radius: 50%;
    border: 2px solid #295F98;
    width: 45px;
    height: 45px;
    background-color: #295F98;
    cursor: pointer;
    z-index: 20000;
}
body.dark-mode .up-button{
    background-color: #1F316F;
    border-color: #295F98;
}
.up-button svg{
    fill: white;
}
body.dark-mode .up-button svg{
    fill: white;
}
.up-button svg:hover{
    fill: darkgray ;
}
body.dark-mode .up-button svg:hover{
    fill: darkslategrey;
}
html{
    scroll-behavior: smooth;
}
.menu-btn{
    margin: 0;
}







.icerik-basliklari button{
    position: relative;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s ease;
}
.icerik-basliklari button::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: darkslategrey;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
}
.icerik-basliklari button:hover::after{
    transform: scaleX(1);
}



