.carousel-inner img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.carousel {
    position: relative;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    min-height: 200vh;
}
header{
    box-shadow: 3px 3px 5px rgba(0,0,0,0.05);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition: 0.6s;
    padding: 30px 100px;
    z-index: 10000;
}
header.sticky{
    padding: 5px 80px;
    background: #fff;
}

header .logo{
    position: relative;
    font-weight: 700;
    color: gray;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
}
header ul li{
    position: relative;
    list-style: none;
}

header ul li a, header svg{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: gray;
    fill: gray;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}
header a:hover, header svg:hover{
    color: black;
    fill: black;
}
header.sticky .nav svg, header.sticky .logo,header.sticky .nav li a{
    color: black;
    fill: black;
}


@media only screen and (max-width: 800px) {
    body{
        max-width: 100vw;
        overflow-x: hidden;
    }
    .carousel-inner img {
        height: 60vh;
    }
    .hideOnMobile{
        display: none;
    }
    #content{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
    #content .icerik-basliklari{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}

.sidebar{
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    z-index: 10000;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    transition: 0.6s;
}
.sidebar li{
    width: 100%;
    text-align: center;
}
.sidebar a{
    width: 100%;
}
.icerik-basliklari{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
#icerik{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#icerik p{
    font-family: 'Arial', sans-serif;
    font-size: 22px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    unicode-bidi: isolate;
}
#content{
    margin-top: 25px;
}
.icerik-basliklari button{
    color: gray;
    background-color: white;
    border: none;
    font-size: large;
    transition: 0.6s;
    font-weight: bold;
    cursor: pointer;
}
.icerik-basliklari button:hover{
    color: darkslategrey;
}
.icerik-basliklari button.active{
    color: darkslategrey;
    transform: scale(1.15);
    transition: 0.5s;
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%;
    padding: 10px;
    gap: 20px;
    background-color: #F6F6F6;
}
.footer-container h2, .footer-container p{
    text-align: center;
}
.footer-container .footer-btn{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.footer-container .footer-btn a{
    text-align: center;
    padding: 0;
    width: 125px;
    height: 36px;
    color: grey;
    text-decoration: none;
    font-size: x-large;
    margin: 25px;
}
.footer-container .footer-btn a:hover{
    color: darkslategrey;
}
.social ul li{
    list-style: none;
}
.social ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.footer-container .social ul li svg{
    width: 25px;
    height: 25px;
}
.footer-container .social ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}








.icerik-basliklari button{
    position: relative;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s ease;
}
.icerik-basliklari button::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: darkslategrey;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
}
.icerik-basliklari button:hover::after{
    transform: scaleX(1);
}



